html {
    scroll-behavior: smooth;
}

body {
    font-family: 'montserrat', sans-serif;
}

.header {
    /* border: 1px solid red; */
}

.content {
    /* border: 1px solid red; */
}

.section {
    /* border: 1px solid black; */
    /* border: 1px solid black; */
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section--dark {
    background-color: #171717;
}

.section--dark>.section__title {
    color: #FFFFFF;
}

.section--light {
    background-color: #FFFFF;
}

.section--light>.section__title {
    color: #171717;
}

.section__title {
    /* border: 1px solid blue; */
    font-size: 40px;
    font-weight: 700;
}

.hero__banner__img {
    width: 100%;
    /* border-radius: 50%; */
}

.hero__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.work__img--sec {
    border: 1px solid red;
}

.section__title--hero {
    font-size: 90px;
}



.section__content {
    /* border: 1px solid blue; */

}



.footer {
    /* border: 1px solid red; */
}