html {
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'montserrat', sans-serif;
}

.header {
    /* border: 1px solid red; */
}

.content {
    /* border: 1px solid red; */
}

.section {
    /* border: 1px solid black; */
    /* border: 1px solid black; */
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section--dark {
    background-color: #171717;
    width: 100%;
}

.section--dark>.section__title {
    color: #FFFFFF;
}

.section--light {
    background-color: #FFFFFF;
    width: 100%;
}

.section--light>.section__title {
    color: #171717;
}

.section__title {
    /* border: 1px solid blue; */
    font-size: 40px;
    font-weight: 700;
}

.header__container {
    background-color: #171717;
}

.header__element {
    color: #FFFFFF;
    transition: .5s;
}

.header__element:hover {
    text-decoration: none;
    color: #b1b1b1;
}

.header__container__element {
    text-align: center;
    text-decoration: none;
}

.section__title--hero {
    font-size: 90px;
}


.hero__banner__img {
    width: 100%;
    border-radius: 50%;
}

.hero__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experience__timeline--line {
    width: 10%;
    height: 200px;
    background-color: black;
}

.experience__job--description {
    text-align: right;
}

.experience__intern--description {
    text-align: left;
}

.experience__free--description {
    text-align: right;
}

.section__contact-form {
    background-color: #FFFFFF;
    border-radius: 25px;
}

.footer__element {
    text-align: center;
}



.section__content {
    /* border: 1px solid blue; */

}



.footer {
    /* border: 1px solid red; */
}