body {
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
}

.header__head {
    z-index: -2;
    /* border: .5px solid white; */
}

.header__name {
    font-weight: 800;
    font-size: 25px;
    font-style: italic;
    color: #FFFFFF;
}

.header__links {
    display: none;
    font-weight: 500;
    color: #FFFFFF;
}

.header__hammenu {
    transform: scale(1.2);
}

.hero__title--title {
    font-weight: 900;
    color: #FFFFFF;
    font-size: 50px;
}

.hero__title--des {
    /* font-family: 'montserrat', sans-serif; */
    font-weight: 100;
    font-size: 15px;
    color: #FFFFFF;
}

.hero__des--headline {
    font-style: italic;
}

.block-red {
    width: 80%;
    height: 20%;
    background-color: #DA0037;
    z-index: -1;
    position: absolute;
    margin-top: -25%;
    margin-left: 47%;
}

.block-white {
    width: 60%;
    height: 20%;
    background-color: #444444;
    z-index: 1;
    position: absolute;
    margin-top: -41%;
    margin-left: -14%;
}

.down {
    transform: scale(.5);
}

.work__title {
    font-weight: 700;
    color: #FFFFFF;
}